/* 	Activity 2
	VFW 1208
 	Aaron Burke
*/

div#wrapper{
	width: 320px;
	margin: 0 auto;
}

body {
	background-color: #eee;	
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
	color: #333;
	margin:0;
	padding:0;
}
h1 {
	margin: 0 0 0 80px;
}
form {
	width:100%;
	margin:0;
	padding:0;
}
fieldset {
	border:none;
	margin:0 0 5px 0;
	padding-top:10px;
	width: 100%;
}
legend {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(left,  #000000 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #000000 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #000000 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #000000 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to right,  #000000 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
	color: #fff;
	margin:0 0 0 0;
	padding: 2px 0 2px 10px;
	width: 312px;
	font-size: 1.5em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
ul#order, ul#descr {
	margin:2px 0 0 5px;
	padding:0;
	/*margin-left:5px;*/
}
li {
	list-style: none;

}
label {
	float:left;
	width: 4em;
	text-align: right;
	clear:left;
	margin: 0 10px 0 0;
	font-size: 1.5em;
}
input, select {
	margin-bottom: 8px;
	font-size: 1em;
	width: 180px;
}
textarea {
	width: 184px;
	margin-bottom: 5px;
}
li#radio label {
	float:none;
	margin: auto;
}
.radio {
	vertical-align: middle;
	width: auto;
}
li#radio {
	display:inline;
}
label#designLabel, input#design {
	width:310px;
	text-align: center;
	margin: 0;
}
input#design {
	margin-top: 3px;
}
input#submit {
	margin: 0 0 2px 70px;
	width:200px;
	font-size: 1.6em;
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
}
a {
	font-size: 1.6em;
	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
}
a#clearData {
	margin: 5px 5px 0 80px;
}
a#displayData {
	margin-right: 5px;
}
#items {
	border-bottom: 1px solid #000;
	font-size: 1.5em;
}
#errors {
	list-style: none;
	color:#ff0000;
}

